
    <h1 class="headings text-align">Overzicht</h1>
    <div class="invoice">
        <p>Incheckdatum:
            <span><%= @booking.check_in %></span>
        </p>
        <p>Uitcheckdatum:
            <span><%= @booking.check_out %></span>
        </p>
        <p>Volledige naam:
            <span><%= @booking.first_name %></span>
            <span>
                <%= @booking.last_name %></span>
        </p>
        <p>Telefoon:
            <span><%= @booking.phone %></span>
        </p>
        <p>Adres:
            <span><%= @booking.street_name %></span>
            <span><%= @booking.street_number %></span>
        </p>
        <p>Stad:
            <span><%= @booking.city %></span>,
            <span><%= @booking.zip_code %></span>
        </p>
        <p>Aantal personen:
            <span><%= @booking.people %></span>
        </p>
        <p>Totaal prijs:
            <span><%= money(@booking.total_price) %>
            </span>
        </p>
        <p>(Inclusief waarborg: <span><%= money(500.00)%>)</span></p>
    </div>
