<% title "Vakantievilla in Toscane, Siena, Florence, Italie: Cas'al Verde" %>
<div class="videoContainer">
  <video id="vid" video autobuffer autoplay>
    <source id="mp4" src="http://res.cloudinary.com/liss/video/upload/v1502741234/Casal_Verde_vanuit_de_lucht_mzsnqd.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <h1>Welkom bij <br/>Cas'al Verde</h1>
    <p>Rust, privacy & natuurlijk schoon!</p>
  </div>
</div>
<div class="content">
    <div class="home-text-container">
        <div class="home-text-wrapper id="home-text-wrapper">
            <% @paragraphs.each do |p| %>
            <div>
                <h3 class="home_heading"  style="color:#2ba683; font-family:'Caveat', cursive; font-size:30px;"><%= p.heading if p.heading != nil %></h3>
                <p><%= p.text%></p>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="reviews-container">
  <div class="reviews-wrapper">
    <% @reviews.each do |r| %>
    <div class="reviews-item">
      <div class="reviews-header">
      </div>
      <div class="reviews-body">
        <p>

          <% r.stars.times do %>
          <%= image_tag 'full_star.svg', class: 'star', alt: 'full star' %>
          <% end %>
          <% (5 - r.stars).times do %>
          <%= image_tag 'empty_star.svg', class: 'star', alt: 'empty star' %>
          <% end %>
        </p>
        <p><i><%= r.review %></i></p>
        <p style="color:#2ba683; font-family:'Caveat', cursive; font-size:30px;"><%= r.name %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
