<% title "Kosten vakantie in in Toscane, Italie: Cas'al Verde" %>

<div class="content" style="padding-top:80px;">
  <h2 class="headings text-align" >Prices</h2>
  <div class="well-row-group">
    <span>Aankomst en vertrek alleen op zaterdag. </span>
  </div>
  <div class="prices-container text-align">
    <% @prices.each do |price| %>
      <div class="well">
        <div class="well-row-group">
          <span><%= price.start_date %></span>
          <span><%= price.end_date %></span>
        </div>
        <% if price.saturdays_only %>

        <% end %>
        <div class="well-divider"></div>
        <div class="well-column-group">
          <div class="well-row"><span>Minimaal aantal nachten:</span><span><%= price.min_days %><span></div>
          <div class="well-row"><span>Weekprijs:</span><span><%= money(price.weekly_price) %></span></div>
          <div class="well-row"><span>Extra gasten:</span><span><%= money(price.extra_price) %></span></div>
          <div class="well-row"><span>Waarborg:</span><span><%= money(price.service_costs) %></span></div>
          <div class="well-row"><span>Wisseldag:</span><span><%= price.saturdays_only ? "zaterdag" : "flexibel" %></span></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
